html { font-size: 16px; }
body { margin: 0; padding: 0; background: #fff; font: 16px/1.2 Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 1rem; color: #333; display: flex; flex-direction: column; min-height: 100vh; }

.wrap { background: #fff; flex: 1 1 auto; overflow: hidden; padding-bottom: 2rem; }
.footer { clear: both; }
.hidden { display: none; }

body.modal-open { overflow: hidden !important; }
.modal { text-align: center; }
.modal:before { display: inline-block; vertical-align: middle; content: " "; height: 100%; }
.modal .close { position: absolute; right: 0; top: 0; width: 2.5rem; text-align: center; height: 2.5rem; font-size: 2rem; z-index: 1; }
.modal .modal-content { border-radius: 0; border: 0; box-shadow: 0 10px 15px -5px rgba(0,0,0,0.3); }
.modal .modal-dialog { display: inline-block; text-align: left; vertical-align: middle; max-width: 24rem; width: 24rem; }
.modal .modal-body { margin: 0; padding: 2rem 0; }
.modal .modal-body .btn { margin-top: 0.5rem; }

.modal#response { font-size: 1rem; }
.modal#response .modal-dialog { width: auto; max-width: 24rem; }
.modal#response .modal-body { padding: 0; text-align: center; width: auto; }
.modal#response .modal-body .response > :last-child { margin-bottom: 0; }

.slick .slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick .slide { float: left; height: 100%; min-height: 1px; }
.slick-hidden { display: none; }

ul.items { margin: 0; padding: 0; list-style: none; }
ul.items > li { margin: 0; padding: 0; display: inline-block; vertical-align: top; }

.form-group { margin: 0 0 1rem; }
.form-group .form-control { border-radius: 0; border: 0.1rem solid #ccc; background: transparent; }
.form-group.file-upload input { display: none; }
.form-group.file-upload label { cursor: pointer; margin: 0; white-space: nowrap; max-width: 100%; overflow: hidden; }

.form-group { position: relative; }
.form-group .notice { position: absolute; margin-left: -100%; width: 100%; text-align: right; top: 50%; z-index: 701; pointer-events: none; transition: all 0.3s cubic-bezier(.17,.67,.08,1); transform: translate(-50px,0); opacity: 0; }
.form-group .notice > div { line-height: 1; font-size: 11px; color: #fff; background: #c00; padding: 8px; border-radius: 3px; display: inline-block; text-align: left; margin-right: 10px; position: relative; }
.form-group .notice > div:after { content: ''; position: absolute; right: -10px; top: 50%; border: 5px solid transparent; border-left-color: #c00; margin-top: -5px; }
.form-group .notice.from-top { text-align: left; left: 3px; top: 0; margin-left: 0; transform: translate(0,20px); }
.form-group .notice.from-top > div:after { border-color: transparent; border-top-color: #c00; margin: 0; right: auto; top: auto; bottom: -10px; left: 10px; }
.form-group .notice.animated { transform: none; opacity: 1; }

.user-content .justifyright { float: right; margin: 0 0 10px 10px; }
.user-content .justifyleft { float: left; margin: 0 10px 10px 0; }

a { transition: all 0.15s ease; }

.wi-group { position: relative; padding-left: 1.7rem; }
.wi-group i { position: absolute; left: 0; top: 0; font-size: 120%; }

.btn { transition: all 0.2s ease; font: 16px/1.2 Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 1rem; cursor: pointer; outline: none !important; }

.form-content { padding: 2rem; }
.form-content .form-title { font-weight: bold; font-size: 1.5rem;}



/* xs, sm, md, lg */
@media ( max-width: 1200px ) {

}

/* xs, sm, md */
@media ( max-width: 991px ) {

}

/* xs, sm */
@media (max-width: 767px) {

}

/* xs */
@media (max-width: 543px) {
	.modal .modal-dialog { max-width: 90%; }
}

@media (max-width: 400px) {

}

/* sm, md, lg, xl */
@media ( min-width: 544px ) {

}

/* md, lg, xl */
@media ( min-width: 768px ) {

}

/* lg, xl */
@media ( min-width: 992px ) {

}

/* xl */
@media ( min-width: 1200px ) {

}



